.rewiev{
    margin-right: 10px;
    text-decoration: none;
    font-weight: 500;
    font-size: 25px;
    font-family: 'Times New Roman', Times, sans-serif;
    color: red;
}
.error{
    color: red;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, sans-serif;
    
}